
$white: #FFFFFF;
$black: #000000;

$background-color: #FFFFFF;
$background-color-secondary: #000000;

$text-color: #000000;
$primary-color: #D84315;
$text-color-secodary: #FFFFFF;

$green-color-500: #00D100;
$green-color-300: #5cb85c;