footer.footer{
    background-color: $background-color-secondary;
    position: relative;
    margin-top: 145px;
    & .footer__curva{
        position: absolute;
        width: 100%;
        bottom: 100%;
    }
    & .footer__container{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 50px 0;
        & .contact{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            flex-direction: column;
            color: $text-color-secodary;
            & .social-network{
                img{
                    width: 3rem;
                    margin-right: .6rem;
                }
                a{
                    text-decoration: none;
                    color: $text-color-secodary;
                }
            }
        }
    }
}